body {
    margin: 0;
    position: fixed;
    width: 100vh;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    justify-content: center;

}
.pattern-top{
    position: absolute;
    bottom: 50%;
    right: 0%;
}
.pattern-bottom{
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: -1;
}

.profile-card{
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: auto;
}